/*font-family: 'Lobster', cursive;
font-family: 'Oxygen', sans-serif;
font-family: 'Noto Serif', serif;*/

/*.hostContainer {
	font-family: 'Lobster', cursive;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: yellow;
	height: 100vh;
}

.hostForm h3{
	font-family: 'Lobster', cursive;
}

.hostForm {
	display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 275px;
  border: 1px solid green;
  background-color: red;
}*/